.leftnavigatetopsetting i{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/qcyXLbNhBYs.png);
    background-position: -63px -105px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.leftnavigatetopsetting{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #E4E6EB;
    cursor:pointer
}
.leftnavigatetop{
    padding: 0 16px 13px;
    width:360px;
    box-sizing: border-box;
    /* position:fixed; */
    background-color: #fff;
}
.leftnavigatetopheader{
    display: flex;
    justify-content: space-between;
    padding:11px 0;
    align-items: center;
}
.leftnavigatetopheader h1{
    font-size: 24px;
    font-family: var(--font);
}
.leftnavigatetopsearch{
    background-color:#F0F3F4;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0 10px;
    margin-top: -5px;
}
.leftnavigatetopsearch svg{
    color: #65676B;
    margin-top: 4px;
}
.leftnavigatetopsearch input{
    padding: 9px 6px 10px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    font-family: var(--font);
}