.findaccount{
    background-color: #fff;
    padding-top:1px;
    width: 500px;
    box-sizing: border-box;
    border-radius:8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .1);

}
.findaccounttitle{
    padding:18px;
    font-family:var(--font);
    font-size: 20px;
    font-weight: 600;
    border-bottom:1px solid var(--bodycolor);
}
.findaccountbody{
    padding: 17px 0 16px;
    font-family:var(--font);
    font-size: 17px;
}
.findaccountcontent1{
    padding:0 19px;
}
.findaccountcontent2{
padding:18px 19px 19px 19px;
border-bottom: 1px solid var(--bodycolor);
}
.findaccountcontent2 input{
    height: 52px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    border:1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font);
    outline: none;
}
.findaccountcontent3{
    padding: 16px 16px 0 16px;
    display: flex;
    justify-content: flex-end;
}
.cancelbutton,.searchbutton{
    padding:9px 20px 10px ;
    border-radius: 6px;
    font-weight:700;
    font-size: 15px;
    border: none;
}
.cancelbutton{
    color:  #4b4f56;
    background-color: var(--bodycolor);
}
.searchbutton{
    background-color:var(--bluecolor);
    color: #fff;
    margin-left:8px
}
.inputwarning{
    padding: 13px 12px 12px;
    border: 1px solid #dd3c10;
    background-color: #ffebe8;
    margin:-1px 16px 17px;
}
.inputwarningheading{
    font-family: var(--font);
    font-size: 15px;
    font-weight: 600;
    color:#333333;
    margin-bottom: 6px;
}
.inputwarningbody{
    font-family: var(--font);
    font-size: 13px;
    color: #1C1E21;
    line-height: 16px;
}