.hometopnav {
    height: 56px;
    position: sticky;
    background-color: white;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 15px rgba(0, 0, 0, .1);
    z-index: 1000;
}

.topnav-1,
.hometopnav,
.topnav-1 a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav-1 {
    gap: 8px;
    padding-left: 16px;
    z-index: 2000;
}

.topnav-1 img {
    width: 40px;
}

.topnav-1 label {
    display: flex;
    color: #65666A;
    align-items: center;
    background-color: #F1F2F4;
    border-radius: 50px;
    padding: 2.5px 22px 2.5px 12px;

}

.topnav-1 label span {
    display: flex;
    padding-right: 3px;
}

.topnav-1 label input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 5px;

}

.topnav-1 label input::placeholder {
    font-size: 15px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

@media screen and (max-width:1099px) {
    .topnav-1 label {
        /* background-color: aqua; */
        padding: 0;
        height: 40px;
        width: 28px;
        padding-left: 12px;
    }

    .topnav-1 label span {
        /* background-color: black; */
    }

    .topnav-1 label input {
        display: none;
    }
}