.storycontainercreatestory {
    width: 113px;
    cursor: pointer;
    height: 100%;
    margin-left: 8px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
}
.storycontainercreatestoryimg {
    height: 151px;
    margin-left: -19px;
    transition: all 1s;
}

.storycontainercreatestory:hover{
  background-color: var(--bodycolor);
}
.storycontainercreatestory:hover .storycontainercreatestoryimg{
  height: 155px;
  margin-top: -4px;
  margin-left:-23px;
}
.storycontainercreatestory:hover .storycontainercreatestoryspan{
    border-color:var(--bodycolor);
}
.storycontainercreatestoryspan {
    height: 40px;
    width: 40px;
    background-color: #1977F2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    left: 37px;
    top: -24px;
    color: white;
    border: 4px solid #fff;
}
.storycontainercreatestory span svg {
    width: 20px;
    height: 20px;
}
.storycontainercreatestory div {
    position: relative;
    top: -19px;
    left: 19px;
    font-size: 13px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.storysetview {
    overflow: hidden;
    width: 112px !important;
    border-radius: 10px;
    margin-left: 8px;
}

.storyviewbackgroungimg {
    width: 113px;
    height: 100%;
}

.storysetviewouter {
    width: 100%;
    height: 100%;
    position: relative;
    top: -204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    padding: 12px 12px 9px 12px;
    z-index: 500;
}
.storysetviewouter img {
    border: 4px solid blue;
    border-radius: 50px;
    width: 32px;
    height: 32px;
}

.storysetviewouter div {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}