*{
    margin:0;
    padding: 0;
    text-decoration: none;
}
html{
    overflow-y: scroll;
}
:root{
    --bodycolor:#E8EBEF;
--bluecolor:#1877f2;
--font:Arial, Helvetica, sans-serif;
}

.clusor{
    cursor: pointer;
}
.underlinehover:hover{
    text-decoration: underline;
}
.displayflexcenter{
    display:flex;
    align-items: center;
    justify-content: center;
}
.displayflex{
    display: flex;
}
.displayflexalign{
    display:flex;
    align-items: center;
}
#displaynone{
    display:none
}
#displayblock{
    display: block;
}