
.forgotpagecenter{
    background-color:var(--bodycolor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}
.forgotpagefotter{
    padding-top: 150px;
}